{
    "parser": "babel-eslint",
    "plugins": ["react", "import"],
    "extends": "airbnb",
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"]
        },
        "ecmaFeatures": {
            "classes": true,
            "jsx": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "ignoredNodes": [
                    "JSXElement",
                    "JSXElement > *",
                    "JSXAttribute",
                    "JSXIdentifier",
                    "JSXNamespacedName",
                    "JSXMemberExpression",
                    "JSXSpreadAttribute",
                    "JSXExpressionContainer",
                    "JSXOpeningElement",
                    "JSXClosingElement",
                    "JSXText",
                    "JSXEmptyExpression",
                    "JSXSpreadChild"
                ]
            }
        ],
        "react/jsx-indent": ["error", 4],
        "semi": 2,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "jsx-a11y/label-has-for": [
            1,
            {
                "components": ["Label"],
                "required": {
                    "some": ["nesting", "id"]
                },
                "allowChildren": false
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            2,
            {
                "labelComponents": ["CustomInputLabel"],
                "labelAttributes": ["label"],
                "controlComponents": ["CustomInput"],
                "depth": 3
            }
        ],
        "react/destructuring-assignment": [0, "always"],
        "react/sort-comp": [0]
    }
}
