{
    "parser": "babel-eslint",
    "plugins": ["react", "import"],
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "window": true,
        "document": true
    },
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"]
        },
        "ecmaFeatures": {
            "classes": true,
            "jsx": true
        }
    },
    "rules": {
        "indent": [1, 4, { "SwitchCase": 1 }],
        "react/jsx-indent": [1, 4],
        "react/jsx-indent-props": [2, 4],
        "semi": 2,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "jsx-a11y/label-has-for": [
            1,
            {
                "components": ["Label"],
                "required": {
                    "some": ["nesting", "id"]
                },
                "allowChildren": false
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            2,
            {
                "labelComponents": ["CustomInputLabel"],
                "labelAttributes": ["label"],
                "controlComponents": ["CustomInput"],
                "depth": 3
            }
        ],
        "react/destructuring-assignment": [0, "always"],
        "react/sort-comp": [0],
        "import/no-named-as-default": [1],
        "react/forbid-prop-types": [1, { "forbid": ["any"] }],
        "react/require-default-props": [1],
        "react/prefer-stateless-function": [0],
        "react/jsx-equals-spacing": [2, "always"],
        "import/prefer-default-export": [0],
        "react/jsx-one-expression-per-line": [0],
        "lines-between-class-members": [1],
        "import/newline-after-import": [1],
        "object-curly-spacing": [1],
        "no-multi-spaces": [1],
        "linebreak-style": [0]
    }
}
